Repository ahmedavid/notedown-react: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    name: ArmPool
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      steps:
      - task: Docker@2
        displayName: Build Docker Image
        inputs:
          containerRegistry: dockerhub-ahmedavid
          repository: ahmedavid/notedown-react-server
  ...

azure-pipelines.yml:
  pool:
    name: ArmPool
  stages:
  - stage: Test
    condition: null
    displayName: Test
    jobs:
    - job: TestJob
      steps:
      - task: Cache@2
        displayName: Cache NPM packages
        inputs:
          key: ./client/package-lock.json
          path: $(npm_config_cache)
      - task: Bash@3
  ...

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update README.md
  client/README.md
Due: azure-pipelines.yml

Update README.md (#18)
  client/README.md
Due: azure-pipelines.yml

Update README.md (#19)
  client/README.md
Due: azure-pipelines.yml

show build id
  client/public/index.html
  client/src/components/MyNavbar.tsx
  client/src/services/note.service.ts
Due: azure-pipelines.yml

show build id (#20)
  client/public/index.html
  client/src/components/MyNavbar.tsx
  client/src/services/note.service.ts
Due: azure-pipelines.yml

Update client.yaml
  infra/app/client.yaml
Due: none

asdasd
  client/public/set-env.sh
Due: azure-pipelines.yml

Dev show buildid (#21)
  client/public/set-env.sh
Due: azure-pipelines.yml

fix db init
  client/src/App.tsx
  client/src/components/MyModal.tsx
  client/src/index.tsx
  infra/app/postgres.yaml
  infra/app/server.yaml
  server/package.json
  server/prisma/seed.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

init db fix
  infra/app/server.yaml
Due: none

asdsad
  infra/app/server.yaml
Due: none

asdasd
  infra/app/server.yaml
  server/Dockerfile
Due: azure-pipelines-1.yml

asdsdasd
  server/Dockerfile
Due: azure-pipelines-1.yml

asdsadd
  server/Dockerfile
Due: azure-pipelines-1.yml

api server readiness probe
  infra/app/server.yaml
  server/src/index.ts
Due: azure-pipelines-1.yml

postgres pvc
  infra/app/postgres.yaml
Due: none

postgres pvc (#23)
  infra/app/postgres.yaml
Due: none

auth working
  client/package.json
  client/src/App.tsx
  client/src/components/AuthModal.tsx
  client/src/components/MyNavbar.tsx
  client/src/services/note.service.ts
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/auth.ts
  server/src/routes/category.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

asdsad
  client/src/components/AuthModal.tsx
Due: azure-pipelines.yml

auth working (#24)
  client/package.json
  client/src/App.tsx
  client/src/components/AuthModal.tsx
  client/src/components/MyNavbar.tsx
  client/src/services/note.service.ts
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/auth.ts
  server/src/routes/category.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

fix seed
  server/prisma/seed.ts
Due: azure-pipelines-1.yml

Feature/authentication (#25)
  server/prisma/seed.ts
Due: azure-pipelines-1.yml

various fixes
  client/src/App.tsx
  client/src/components/MyModal.tsx
  client/src/components/test/BoardContent.tsx
  client/src/index.css
  server/src/routes/auth.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Feature/authentication (#26)
  client/src/App.tsx
  client/src/components/MyModal.tsx
  client/src/components/test/BoardContent.tsx
  client/src/index.css
  server/src/routes/auth.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

gfhgfhfg
  client/src/App.tsx
  client/src/components/AuthModal.tsx
  client/src/components/MyModal.tsx
Due: azure-pipelines.yml

asdsd
  client/README.md
Due: azure-pipelines.yml

asdasd
  client/README.md
Due: azure-pipelines.yml

Feature/authentication (#27)
  client/README.md
  client/src/App.tsx
  client/src/components/AuthModal.tsx
  client/src/components/MyModal.tsx
Due: azure-pipelines.yml

export draft
  client/src/App.tsx
  client/src/components/MyNavbar.tsx
  client/src/services/note.service.ts
  server/package-lock.json
  server/package.json
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/note.ts
  server/src/routes/user.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

import working
  client/src/App.tsx
  client/src/components/ImportModal.tsx
  client/src/components/MyNavbar.tsx
  client/src/services/note.service.ts
  server/package-lock.json
  server/package.json
  server/src/routes/user.ts
  server/uploads/.gitkeep
Due: azure-pipelines-1.yml, azure-pipelines.yml

redis cache get note
  .vscode/launch.json
  infra/app/redis.yaml
  infra/app/server.yaml
  server/package-lock.json
  server/package.json
  server/src/index.ts
  server/src/middleware/cache.middleware.ts
  server/src/redis.ts
  server/src/routes/note.ts
Due: azure-pipelines-1.yml

Path conditions:
  azure-pipelines-1.yml: any of: server
  azure-pipelines.yml: any of: client
